@charset "utf-8";
	
	
	/* visual slide */
.jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('/img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
       
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('/img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }

.contents{width: 100%;overflow: hidden;position: relative;}


.cont1{width: 100%;overflow: hidden;margin: 0 auto;}

.cont1-pc{margin-top: 101px;}



.cont2{margin:50px auto 0;width:70%;overflow: hidden;}
.cont2 h2{text-align: center;padding-bottom: 50px;font-size: 24px;}
.cont2 img{width: 100px;}
.main1{text-align: center;}
.main1 a{color:gray;}
.main1 a:hover{text-decoration:underline;}




.cont3{margin: 0 auto;overflow: hidden;position: relative;}
.cont3 section{float: left;position: relative;}
.cont3 div{overflow: hidden;}
.cont3 .box_txt{position: absolute;top: 20%;left: 0;width: 100%;overflow: hidden;}
.cont3 section a{color: #fff;font-weight: bold;}
.cont3 section h3{text-align: center;margin-top: 10%;font-size: 19px;}
.cont3 section a:hover{text-decoration: underline;}
.cont3 h2{text-align: center;margin-bottom: 50px;font-size: 24px;}
.cont3 .box_img{border: 0px solid #000;border-radius: 8px;}


.cont3 .box_img img{
 transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.cont3 .box_img img:hover{
 transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
	
}


.cont4{margin: 0 auto;overflow: hidden;position: relative;}
.cont4 section{float: left;position: relative;}
.cont4 div{overflow: hidden;}
.cont4 div ul li{float: left;}
.cont4 h2{text-align: center;margin-bottom: 50px;font-size: 24px;margin-top: 50px;}
.cont4 section a{font-weight: bold;color: #000;font-size: 11px;}
.cont4 section a:hover{color: #adadad;transition: all 0.5s;}

.cont4 section div .star{width: 15px;margin-top: 10px}
.cont4 .box_in1{border: 0px solid #000;border-radius: 8px;margin-bottom: 8px;}
.cont4 section span{color:#a8a8a8;font-size: 8px;line-height: 3; }
.cont4 section p{line-height: 2;}
.cont4 section div ul li{font-size: 17px;line-height: 2;font-weight: bold;color: #000;}
.cont4 section div ul li:nth-child(1){font-weight: bold;color: deepskyblue;margin-right: 5px;}
.cont4 section div .btn{font-weight: bold;border: 0px solid #000;background:#35c5f0;color: #fff;text-align: center;width: 25px;border-radius: 5px;font-size: 11px;}

.cont4 .box_in1 img{
 transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.cont4 .box_in1 img:hover{
 transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
	
}

.contents .btn1{text-align: center;border: 0px solid #fff;background: #f5f5f5;width: 50%;margin: 0 auto;padding: 15px 15px;border-radius: 10px;margin-top: 50px;margin-bottom: 30px;}
.contents .btn1 a{color: #000;font-weight: bold;}
.contents .btn1:hover{background:#d9d9d9}

